<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> This is The Home Page</p>
        <form>
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p id="message-3"></p>
        <p id="message-4"></p>
        <p id="message-5"></p>
        <p id="message-6"></p>
        <p id="message-7"></p>
        <p id="message-8"></p>
        <p id="message-9"></p>
    </div>
    {{>footer}}

    <script src="js/app.js"></script>
</body>
</html>